[2017-07-19 07:59] nexttoyou opened #1 "Impossible to run"
Unfortunately, the plugin just does not want to cooperate. Are there any hidden prerequisites or whatsoever perhaps forgotten in the documentation? Until now I never had such troubles to run a homebridge module but I cannot exclude any error on my side of course (it’s quite hot here …). Any help very appreciated. Here’s the error log after the successful login:

[code]

What exactly is not found a

[2017-07-19 18:20] mkellsy commented on #1
This looks like it is failing on the express request handler.

Did you get any errors when installing the plugin?
Also what version of node are you running?

[2017-07-19 18:42] shidevil opened #2 "Logs takes sometime to load"
Managed to install this plugin perfectly.

The only issue would be that the logs are taking too long to load on safari.

Great job! thank you

[2017-07-19 20:03] mkellsy commented on #2
Currently the log is refreshed with an ajax call. The entire log is loaded every time.

I will be changing this to use sockets and stream the log to the browser. This should fix your slow load times.

[2017-07-19 21:14] mkellsy commented on #1
I dug into this and I found what's happening. I had a typo in the login fail redirect. This is because there is no auth.json file in your homebridge user files.

To address this mistake I added a check for this file. If the file doesn't exists, I create it with a default username and password.

The current workaround is. add the auth.json to your homebridge user files. This is the same place as yo

[2017-07-19 21:14] #1 closed

[2017-07-20 02:29] shidevil commented on #2
Great! thank you!

[2017-07-20 02:43] #2 closed

[2017-07-22 05:11] Krocko opened #3 "Only platforms is shown"
In the configuration tab, only the platforms from the config are shown. But not the accessories.

[2017-07-22 21:46] mkellsy commented on #3
I found this error and corrected it in next release.

[2017-07-22 22:04] mkellsy commented on #3
1.1.0 is released.

[2017-07-22 22:04] #3 closed

[2017-07-23 01:52] Juanillo62gm opened #4 "I must install supervisor for running that ?"
I have installed the plugin on my raspberry pi zero w and follow the instructions but I don't know how to run the server.

[2017-07-24 09:39] Krocko opened #6 "Can't save changes in config"
Get the following error after editing the config and trying to save

TypeError: Cannot read property 'length' of undefined

[2017-07-24 11:36] Nastras opened #7 "Command console with Dashboard"
Hello,
Nice plugin you have there. Thank you for your work!

I have another idea for a future version of your plugin, which I would like to share with you.

Is it possible to include a command console with a dashboard.
In the dashboard individual commands can be created in the config?

Similar to your switch for restart.

I hope you understand what i mean?

[2017-07-24 13:38] mkellsy commented on #7
There is a Homebridge plug-ins for that. https://github.com/luisiam/homebridge-cmdswitch2

[2017-07-24 13:40] mkellsy commented on #4
I use supervisor to keep Homebridge alive. It is like launchd but more flexible. To view the log you need to log Homebeidge’s output to a file. The restart command can be anything.

[2017-07-24 13:47] mkellsy commented on #4
This starts with Homebridge. Homebridge’s RegisterPlugin function will start a HTTP server for this.

[2017-07-24 13:47] #4 closed

[2017-07-24 13:57] Nastra888 commented on #7
Thanks for the tip, but I do not mean. I do not want to give commands with a switch in HomeKit consoles. I mean a kind of toolbox with favorites for editing the homebridge in a console without entering again and again.

Look here, I have collected a lot of commands for editing a homebridge. http://forum.smartapfel.de/forum/thread/101-homebridge-befehlssammlung/

If you build a console with favorit

[2017-07-24 13:58] Nastra888 commented on #7
It would be great to fit your plugin.

[2017-07-24 15:25] mkellsy commented on #6
Can you include the entire stack trace?

[2017-07-24 15:27] mkellsy commented on #7
I see what you are talking about. Thanks for the input. I will look into this.

[2017-07-24 15:32] Krocko commented on #6
Here it is.
[code]

Also if i edit the Port or the HomeKit pin, nothing happened if i press the save button.

[2017-07-24 16:16] Nastra888 commented on #6
For me is the same error.

[2017-07-24 17:23] Nastra888 commented on #7
Cool, would be really happy if you would install.
Makes working on the homebridge much easier.

Greeting Nastra

[2017-07-24 17:33] mkellsy commented on #6
It looks like this is happening when you have only 1 platform or accessory. I have this fixed in version 1.1.3

[2017-07-24 17:40] mkellsy commented on #4
You can use systemctl instead of supervisor. The guys over at Homebridge have a how to for that https://github.com/nfarina/homebridge/wiki/Running-HomeBridge-on-a-Raspberry-Pi

Then you can change the restart command to systemctl restart homebridge.

[2017-07-24 17:56] mkellsy opened #8 "Add language support"
homebridge-config-ui has gone international, thanks [Krocko](https://github.com/Krocko)

I will use Krocko German translations.

[2017-07-24 18:28] Krocko commented on #8
OHHHH COOOOL

[2017-07-24 18:32] Krocko commented on #6
After i try to edit the config my config.json looks like this
[code]

Also i have no more write access to the config.json

In the Config Tap, i can´t save my changes. If i add an accessory ore an platform and reload the page, nothing is added.

[2017-07-25 05:57] ageorgios opened #9 "systemd"
looks great, not tested though since it does not work with systemd :(

[2017-07-25 06:00] shidevil commented on #9
It does work with systemd as I'm running homebridge with systemd bootup

[2017-07-25 06:06] shidevil commented on #9
My config file looks like this. Works perfectly and logs as shown.

`{
    "platform": "config",
    "name": "Config",
    "port": 8080,
    "log": "/var/log/daemon.log",
    "restart": "sudo systemctl restart homebridge.service"
}`

[2017-07-25 06:08] ageorgios commented on #9
ok thanx ill try the config!

[2017-07-25 07:23] shidevil commented on #9
Is the log stored at var/log/daemon.log?

Or yours is store at var/log/syslog?

[2017-07-25 09:05] ageorgios commented on #9
homebridge-config-ui@1.1.2
Chrome 59.0.3071.115

log pointing on /var/log/syslog

[2017-07-25 13:21] shidevil commented on #9
Try changing "log": to var/log/syslog?

[2017-07-25 14:20] ageorgios commented on #9
This is the config file:
[code]

[2017-07-25 21:42] daleanthony opened #11 "Request: raspberry pi setup guide"
Would be awesome if there was a guide to help get this running on raspberry pi. I'm a little out of my depth here so no clue what I'm doing... otherwise I'd offer to do it myself 😂

[2017-07-25 21:56] mkellsy commented on #9
Shidevil updated the readme file with instructions for systemd installs.

[2017-07-25 21:56] #9 closed

[2017-07-25 21:58] mkellsy commented on #11
Anyone have this running on a PI? I only have tested this on OSX, Fedora and FreeBSD.

[2017-07-25 22:05] shidevil commented on #11
It's working on PI. If you have setup homebridge according to https://github.com/nfarina/homebridge/wiki/Running-HomeBridge-on-a-Raspberry-Pi

Then it would be the same as installing other plugins.

`sudo npm i -g homebridge-config-ui`

and add the config to config.json either at /var/homebridge/config.json if you are using systemd or at ~/.homebridge/config.json - check readme

[2017-07-25 22:07] mkellsy commented on #6
1.1.3 released.

[2017-07-25 22:10] #11 closed

[2017-07-26 00:53] mkellsy commented on #11
After some research Homebridge runs differently on a PI. Since Homebridge is very popular on PIs, this is worth some research and further documentation.

[2017-07-26 01:19] shidevil commented on #9
@ageorgios i personally tried /var/log/syslog and its working fine for Chrome and Safari.

[2017-07-26 05:48] Krocko commented on #6
Any idea to fix this bug?

[2017-07-26 14:31] mkellsy opened #13 "AJAX calls are being blocked by ad blockers"
Need to change AJAX URLs to pass ad blocker filtering. This will prevent errors like this; net::ERR_BLOCKED_BY_CLIENT

[2017-07-26 14:40] mkellsy commented on #6
It is fixed in version 1.1.3 or higher.

[2017-07-26 16:08] Krocko commented on #6
I have installed version 1.1.4

If i try to edit something on the following Page and hit the save button, nothing happened and the changes don´t save.

When i use the advanced editor.

If i change something now, my original config.json is renamed to "config.json.1501084111"

And the new config.json is looking so.

I hope you can understand.

[2017-07-31 21:04] jenswet opened #15 "Login impossible"
Hello,
I just found your plugin and it looks nice.
I just installed it and tried to login. Unfortunately the login does not work. After entering the default credentials it is just endless loading. In the homebridge console I can see "login successful" but it never redirects to the dashboard.
How can I fix this?
And a second question: I use systemd for starting homebridge, so there is no dedicated

[2017-07-31 22:44] shidevil commented on #15
Have you tried another browser? Also do remember to turn off Adblock.

For systemd please read the readme. H
{
    "platform": "config",
    "name": "Config",
    "port": 8080,
    "log": "/var/log/daemon.log",
    "restart": "sudo systemctl restart homebridge.service"
}

[2017-07-31 22:45] shidevil commented on #9
@ageorgios you may have Adblock on that is preventing the logs from showing. Please turn off  adblock

[2017-07-31 22:49] shidevil commented on #13
It's blocking due to /scripts/logs.js

Possible to change the logs location to somewhere else?

[2017-08-01 05:54] ageorgios commented on #9
oh god so stupid... I'll try and tell

[2017-08-01 07:25] Krocko commented on #6
Any news about this?
Or anybody else with this problem?

[2017-08-01 08:01] jenswet commented on #15
I tried Safari (with disabled adblock) and Chrome (without Adblock). Both have the same problem.

I have no /var/log/daemon.log. How can I get the service to output this log? All logs are stored journalctl in /run/log/journal/....

[2017-08-01 13:12] shidevil commented on #15
@jenswet That is weird, are you running as systemd? As systemd output the logs to /var/log/daemon.log or /var/log/syslog

Could you check?

[2017-08-01 13:12] shidevil commented on #15
@jenswet @cuihaijun If you are running homebridge via systemd.

Head to /var/homebridge and create a auth.json. Try it again?

[
    {
        "id": 1,
        "username": "admin",
        "password": "admin",
        "name": "Admin",
        "admin": true
    }
]

[2017-08-01 13:25] jenswet commented on #15
Hello,
The auth.json was automatically created with the same content on the first start of the plugin. As I said the homebridge console stats successful login, only the redirect does not work. it's endless loading.

Regarding the log: I use a systemd service, but there is no log in /var/log. systemd only saves the log with journald to /run/log/journal/UUID/system.journal

[2017-08-01 15:58] shidevil commented on #15
Have you tried putting

"log": "/run/log/journal/UUID/system.journal"

[2017-08-01 16:44] jenswet commented on #15
I will try as soon I am able to login... Any ideas how to fix that before?

[2017-08-02 02:30] cuihaijun commented on #15
How can I modify, remove the user name and password, I think it is added password, login, a problem, resulting in not login

[2017-08-02 02:51] cuihaijun commented on #15
netstat -na | grep 8080
tcp6       0      0 :::8080                 :::*                    LISTEN
Should it be like this?
tcp        0      0 0.0.0.0:8080            0.0.0.0:*               LISTEN

[2017-08-02 04:58] jenswet commented on #15
volumio@volumio:/var/homebridge$ netstat -na | grep 8080
tcp6       0      0 :::8080                 :::*                    LISTEN
tcp6       0      0 192.168.178.33:8080     192.168.178.36:63941    ESTABLISHED

The login page loads fine. When I type a wrong password the login Form gets reset. When I type the correct credentials it starts loading and never finishes.
Console states:
Aug 02 06:54:1

[2017-08-02 05:46] shidevil commented on #15
have never experience if before. Have you tried to run in debug mode to see the problem?

sudo DEBUG=* homebridge -D

https://github.com/nfarina/homebridge/wiki/Basic-Trouble-Shooting

[2017-08-02 06:03] jenswet commented on #15
This is the output starting from loading the login page. After clicking login nothing happens in browser (endless loading) and nothing happens in log.

EventedHTTPServer [::ffff:192.168.178.27] HTTP Response is finished +2ms
/  express:router dispatching GET / +28s
  express:router query  : / +13ms
  express:router expressInit  : / +5ms
  express:router serveStatic  : / +4ms
  send stat "/lib/node

[2017-08-02 09:33] shidevil commented on #15
Got to wait for @mkellsy to check on it.

[2017-08-04 20:21] gerritfries commented on #8
Is it already possible to use those translations? Do I have to change some files or how does it work? By the way: Thank you so much for this great plugin! It's a huge timesaver when it comes to change or add plugin configs. And the look and feel is really nice too!

[2017-08-04 21:16] FlottoDe commented on #15
Hi,

I'm facing the exact same Problem. Would really appreciate a solution since the plugin looks really awesome! If there is anythin I can provide you with, let me know!

[2017-08-05 07:43] Krocko commented on #15
Have an similar problem since yesterday. Got the following error
[code]
Until yesterday everything working.

[2017-08-07 14:03] mkellsy commented on #6
I will look into this. I was able to recreate the condition. I think there might be something else happening here.

[2017-08-07 14:04] mkellsy commented on #15
This looks like an issue with getting the status of the homebridge package. I will need some error handling around this, because it looks like the npm api can be down from time to time.

[2017-08-07 14:06] mkellsy commented on #8
This is an enhancement (feature request) I will need to write code to get the local system working. For now the code only supports English.

[2017-08-10 03:47] edgariscoding commented on #15
Just want to share that I've been having this issue as well. I'm kind of glad to see that it's not just an error with my configuration.

[2017-08-10 10:31] shidevil commented on #6
I wasn't able to recreate the condition except that if i save the file(not the advanced editor), the old config file is renamed into config.1502360780

my file was saved successfully running raspbian using systemd.

[2017-08-10 17:18] shidevil commented on #6
@Krocko

I have pull request for this fixed. You can check it out as well. It's just editing one line

Go to the node_modules folder, find the homebridge-config-ui, open the views folder.

Edit advanced.html and look for

change /config to /config/advanced

[2017-08-10 17:45] Krocko commented on #6
This worked for the advanced editor. Thank you.
Any solution, to get the save button to work in the guided editor?

[2017-08-10 17:49] shidevil commented on #6
@Krocko

More details please?

As my guided editor is working fine as well. What did you do to create an error?

[2017-08-10 17:54] Krocko commented on #6
https://user-images.githubusercontent.com/29394115/28630883-cc3d4e12-722b-11e7-86ca-ef48a767de3a.png

If i change something on this screen and hit the save button, the changes are not accepted.

[2017-08-10 17:54] shidevil commented on #6
Ok let me try.

[2017-08-10 18:08] shidevil commented on #6
@Krocko I just tried again. it's working.

I changed port, pin, mac address, accessories and platform.

All works fine on guided editor

[2017-08-10 19:23] Krocko commented on #6
Have you reload the page, to look if the changes stick?

[2017-08-10 19:35] shidevil commented on #6
Yes changes stick, in my /var/homebridge/config.json files as well.

[2017-08-10 19:37] Krocko commented on #6
Strange. Have installed your fork. Now i got the following error:
[code]

[2017-08-10 19:40] shidevil commented on #6
@Krocko go to route/config.js

There's an extra + symbol. remove it

[2017-08-10 19:44] Krocko commented on #6
Don´t understand. In wich line i have to remove the + symbol?

[2017-08-10 19:45] shidevil commented on #6
line 56.

[2017-08-10 19:45] shidevil commented on #6
check my latest commit. Thanks

[2017-08-10 19:55] Krocko commented on #6
Ok. Thanks. Will use advanced editor for now.

[2017-08-10 20:00] shidevil commented on #6
@Krocko Still can't get guided editor to work?

Can i know your homebridge system running on? Node version, Npm version, what accessories and platforms. Could you upload your config.json here?

as i tried multiple cases on mine, guided works fine perfectly. So it's best if you could check on ur end as well.

[2017-08-10 20:13] Krocko commented on #6
Homebridge --> systemd
Node --> 8.1.2
Npm --> 5.3.0

[code]

[2017-08-12 06:10] shidevil commented on #13
@mkellsy All adblocks has filters for /scripts/log.js. I tried changing the scripts to script and it works perfectly.

Would you want me to do a pull request for this?

[2017-08-12 07:28] shidevil commented on #15
Okay, i am able to replicate this issue if and only if there is no internet. Some users may have npm api down from time to time. As it is checking homebridge version upon login.

I am pulling a new request for this issue.

[2017-08-12 07:42] shidevil commented on #15
Fix for login is done. User can edit npm.js at node_modules/homebridge-config-ui/

Check the pull request for the npm.js file

[2017-08-12 07:44] shidevil commented on #6
@Krocko still unable to replicate this for guided editor as i do not have so many accessories or platform. I could create fake platforms and accessories but it would not be a ideal test setup. Could you do a debug log when u try to use the guided editor and save?

[2017-08-13 19:28] Krocko commented on #6
Will do it after vacation.

[2017-08-16 18:36] humac commented on #6
I'm not sure if this is the same issue but I get an error if I simply try to access the config page.  I don't see anything but the error message.

TypeError: Cannot read property 'length' of undefined
    at write (/usr/lib/node_modules/homebridge-config-ui/routes/config.js:115:43)
    at /usr/lib/node_modules/homebridge-config-ui/routes/config.js:13:5
    at Layer.handle [as handle_request] (/usr

[2017-08-16 18:48] shidevil commented on #6
@humac could you show your config file? Thanks

[2017-08-17 00:21] humac commented on #6
@shidevil
Here is my config file:

{
    "bridge": {
        "name": "Homebridge",
        "username": "XXXX",
        "port": XXXX,
        "pin": "031-45-154"
    },
    "platforms": [
        {
            "platform": "config",
            "port": XXXX,
            "name": "Config",
            "log": "/var/log/daemon.log",
            "error_log": "/var/log/syslog",
            "restart": "sud

[2017-08-17 03:25] shidevil commented on #6
@humac

Try this config

{
"bridge": {
"name": "Homebridge",
"username": "XXXX",
"port": XXXX,
"pin": "031-45-154"
},
"platforms": [
{
"platform": "config",
"port": XXXX,
"name": "Config",
"log": "/var/log/daemon.log",
"error_log": "/var/log/syslog",
"restart": "sudo service homebridge restart"
},
{
"platform": "netatmo",
"name": "netatmo weather",
"ttl": 5,
"auth": {
"client_id": "XXXX",
"client_

[2017-08-17 03:32] humac commented on #6
@shidevil That worked thanks.

[2017-08-17 03:44] shidevil commented on #6
@humac welcome :)

[2017-08-17 15:31] humac opened #18 "Cannot uninstall or install plugins"
When trying to uninstall a plugin I get the following error:

Error message:
fs is not defined
Details:
ReferenceError: fs is not defined
    at /usr/lib/node_modules/homebridge-config-ui/routes/plugins.js:94:5
    at Layer.handle [as handle_request] (/usr/lib/node_modules/homebridge-config-ui/node_modules/express/lib/router/layer.js:95:5)
    at next (/usr/lib/node_modules/homebridge-config-ui/no

[2017-08-17 18:11] shidevil commented on #18
Uninstall is working after adding at the top of routes/plugin.js

var fs = require("fs");

For installing, i am still debugging it. Encountered the same issue as well.

[2017-08-17 19:11] humac commented on #18
@shidevil ok I will give the uninstall fix a try.

[2017-08-17 19:37] humac commented on #18
@shidevil when I try to delete it no longer errors and when I look at the logs I see the following entry:

Aug 17 15:14:43 raspberrypi homebridge[2262]: [8/17/2017, 3:14:43 PM] [Config] Package homebridge-server removed.

However when I go look at the node_modules folder I still see the homebridge-server plugin that I am trying to delete.

[2017-08-18 01:49] shidevil commented on #18
@humac that is weird let me check as mine successfully uninstalled.

[2017-08-18 05:46] shidevil commented on #18
@humac i was unable to replicate the issue. You need to restart homebridge after editing the files. Could you try again?

[2017-08-18 17:39] Krocko commented on #6
@shidevil I looked in the debug log an there is no entry, if I hit the save button.

[2017-08-18 17:58] shidevil commented on #6
@Krocko I'm using chrome :)

[2017-08-18 18:09] Krocko commented on #6
Ok. Have testet this with Safari and chrome. It is the same with both browsers. Nothing happened in the log, if I press the save button.

[2017-08-18 18:13] shidevil commented on #6
@Krocko Did you enable debug=*? What node version are u using?

[2017-08-18 18:17] Krocko commented on #6
Yes of course

[2017-08-18 18:26] shidevil commented on #6
@Krocko without any logs i couldn't be able to replicate either. Should have some logs if you run debug=*

[2017-08-18 18:30] Krocko commented on #6
I don't want to post this logs in public. Any chance to send you the logs privat? Are you on slack?

[2017-08-18 18:35] shidevil commented on #6
@Krocko

yes i'm on slack. It's the same user(shidevil)

[2017-08-18 18:37] Krocko commented on #6
Can't find you.

[2017-08-18 18:41] shidevil commented on #6
https://homebridgeconfigui.slack.com/

[2017-08-18 18:47] Krocko commented on #6
Can't join this team 😩

[2017-08-18 18:49] shidevil commented on #6
@Krocko https://join.slack.com/t/homebridgeconfigui/shared_invite/MjI4ODU3NjU1NzE3LTE1MDMwODIxNDQtNDU3MjdlYjk0NA

[2017-08-18 19:43] shidevil commented on #18
@humac could you check the fix. Check plugin.js on the pull request to edit it and test it out.

[2017-08-19 16:42] humac commented on #18
@shidevil ok i'll give it a try later today and report back thanks

[2017-08-19 16:56] shidevil commented on #18
@humac Please note that if you were to install an accessories. The platform need to be remove. Including the bracket. Just to take note.

<img width="930" alt="screen shot 2017-08-19 at 3 35 15 am" src="https://user-images.githubusercontent.com/5009021/29488665-4b0a2174-8542-11e7-84bc-3eea65e1ecf2.png">

[2017-08-20 14:26] SWEiNSANE opened #19 "Cannot access Configuration"
Hi,

First of all I just want to say that I really like your application.

I cannot access Configuration since this error message appears:
_TypeError: Cannot read property 'length' of undefined
    at write (/usr/lib/node_modules/homebridge-config-ui/routes/config.js:115:43)
    at /usr/lib/node_modules/homebridge-config-ui/routes/config.js:13:5
    at Layer.handle [as handle_request] (/usr/lib/no

[2017-08-20 14:27] shidevil commented on #19
Please post ur config.json

[2017-08-20 14:33] SWEiNSANE commented on #19
I replaced tokens and keys with another texts:
{
	"bridge": {
		"name": "HomebridgeHumlegatan",
		"username": "aa:bb:bb:dd:ee:ff",
		"port": 12345,
		"pin": "111-11-11"
	},
	"description": "Telldus plugin",
	"platforms": [{
		"platform": "Telldus",
		"name": "Telldus Liv!e",
		"public_key": "PUBLIC_KEY",
		"private_key": "PRIVATE_KEY",
		"token": "TOKEN",
		"token_secret": "TOKEN_SECRET"
	}, {
		"

[2017-08-20 14:35] shidevil commented on #19
Try this instead

[code]

[2017-08-20 14:38] SWEiNSANE commented on #19
Adding "accessories":[] did the trick - thanks for your swift support!

[2017-08-20 14:45] #19 closed

[2017-08-20 14:46] shidevil commented on #19
@SWEiNSANE Welcome!

[2017-08-23 08:03] AKWillows commented on #15
Hi, I've just installed this plug-on and I, too, can't get past the login screen... it just continues to try loading. I have used safari and Chrome with ad blockers turned off

[2017-08-23 08:06] shidevil commented on #15
@AKWillows please check the pull request. you can fix it in the npm.js

[2017-08-23 08:17] shidevil commented on #15
@AKWillows https://github.com/mkellsy/homebridge-config-ui/pull/17/commits/6856a9bcf4f8d562e4bb7f3620f69ac00f0ec333

Look at this.

[2017-08-23 08:23] AKWillows commented on #15
@shidevil thanks - will take a look in more detail later - not done anything like that before but will give it a go! (backing file first! LOL)

[2017-08-23 08:25] shidevil commented on #15
@AKWillows Do try it out. It should work 👍

[2017-08-23 16:05] Krocko commented on #15
@AKWillows: simply install @shidevil‘s Fork. 😉
`sudo chown -R $USER /usr/local && npm install -g https://github.com/shidevil/homebridge-config-ui`

[2017-08-23 18:28] AKWillows commented on #15
@shidevil @Krocko Afraid i tried both of these solutions but I still just get the progress bar sticking after entering credentials. I think I must be doing something stupid... @Krocko How do I uninstall the plug-in now I have used your method? is it the same sudo uninstall -g homebridge-config-ui ?

[2017-08-23 18:31] Krocko commented on #15
Yes it is the same command `sudo npm uninstall -g homebridge-config-ui`

[2017-08-23 21:15] shidevil commented on #15
@AKwillows have you restart homebridge after saving the npm file? Please post the log thank you.

[2017-08-23 21:15] shidevil commented on #15
Do remember to restart homebridge after doing any changes.

[2017-08-24 04:00] shidevil commented on #15
@Krocko Is my pull request working for you on this login issue?

@jenswet @edgariscoding @cuihaijun Could you guys check as well?

[2017-08-24 04:15] shidevil opened #20 "Unable to uninstall private plugins"
Unable to uninstall private plugins that are not from api.npms.io.

[2017-08-24 05:01] Krocko commented on #15
@shidevil no problems with login anymore.

[2017-08-24 09:00] cuihaijun commented on #15
@shidevil still can't log in

[2017-08-24 09:20] shidevil commented on #15
@cuihaijun did you change the npm on my fork? Could you show me ur debug log if possible. Thanks

[2017-08-24 09:20] shidevil commented on #15
@cuihaijun please restart homebridge after you make the changes.

[2017-08-24 09:21] cuihaijun commented on #15
@shidevil when I replace /usr/local/lib/ with  /usr/lib/ in npm.js, I work fine,command:which homebrdige,show usr/local/bin/homebridge

[2017-08-24 09:22] shidevil commented on #15
No. U need to go to node_modules to change the npm.js

Please search at usr/local/lib/node_modules/homebridge-config-ui

Or usr/lib/node_modules/homebridge-config-ui

The npm.js is in that folder

[2017-08-24 09:23] cuihaijun commented on #15
The npm.js is in usr/local/lib/node_modules/homebridge-config-ui folder

[2017-08-24 09:24] shidevil commented on #15
Yes. could you replace that and restart homebridge.

If can't login please post debug log. Thanks

[2017-08-24 09:27] cuihaijun commented on #15
thanks
the reason is that homebridge in installed in the usr/local/bin/homebridge folder

[2017-08-24 09:30] shidevil commented on #15
Shouldn't matter if homebridge is installed at usr/local/bin/homebridge

Best of you could provide the debug log.

[2017-08-24 09:44] shidevil commented on #15
@cuihaijun you can post the debug log and I will look at it. Thank you so much.

[2017-08-24 09:46] AKWillows commented on #15
Hi @shidevil I will re-install and try one more time this afternoon if i have time. I did edit the  npm.js file and restarted home bridge but it still didn't work for me. If I do get a chance (stupid question coming up...) where will I find the debug log?

[2017-08-24 09:50] shidevil commented on #15
@AKWillows sudo DEBUG=* homebridge -D

Make sure that ur ~/.homebridge/config.json have the platform

[2017-08-24 13:44] #20 closed

[2017-08-26 12:39] cuihaijun commented on #15
@shidevil

[2017-08-26 14:02] shidevil commented on #15
@cuihaijun Thanks will take a look.

[2017-08-26 14:43] shidevil commented on #15
@cuihaijun saw the log, indeed there is some abnormality in the log but i was not able to verify what causes it.

1) could you test by changing port to 8080?
2) off any plugins on ur web browser. eg. adblocks etc.

[2017-08-28 15:25] AKWillows commented on #15
HI @shidevil I have reinstalled, amended the npm.js file with the different lines at line 135, added the config.sys and rebooted the RaspberryPi before attempting to open the config webpage in my browser. I can confirm adblocker its urned off. Log file is attached (not sure how much to include!)
[Logfile.txt](https://github.com/mkellsy/homebridge-config-ui/files/1257287/Logfile.txt)

[2017-08-28 15:29] shidevil commented on #15
@AKWillows thanks will look into it as well. Did u change npm.js from line 135? Like everything different :)

Thanks

[2017-08-28 15:40] AKWillows commented on #15
@shidevil I took out the lines 135-148 (those in red on the link you gave me) and replaced them with the new 135 - 156 (those in green on the link)

[2017-08-29 15:29] humac commented on #18
@shidevil sorry I haven't had time to try this yet. But was wondering if any changes were made to the main repo and if is did an npm upgrade of homebridge-config-ui will these changes be brought in or do I have to manually make the update myself?

[2017-08-29 15:30] shidevil commented on #18
@humac it isn't updated on this repo as the pull request is not merged. So can't do a npm upgrade. Sorry

[2017-08-29 15:32] humac commented on #18
@shidevil ok thanks i'll manually make the update then

[2017-08-29 15:34] shidevil commented on #18
@humac

sudo npm -g uninstall homebridge-config-ui

Download/clone my fork.
cd into the folder of my fork u clone/downloaded
sudo npm -g install

[2017-08-29 15:37] humac commented on #18
@shidevil I was just thinking of doing that thanks

[2017-08-29 15:51] humac commented on #18
@shidevil I cloned and installed your fork and I see it added a temp display to the UI so I know I'm running your latest.  That said when I go to uninstall a plugin it still does not uninstall.  When I tail the logs I see:

Aug 29 03:11:10 raspberrypi homebridge[6329]: [8/29/2017, 3:11:10 AM] [Config] Package homebridge-server removed.

But when I go to /usr/lib/node_modules I still see the homebr

[2017-08-29 15:55] humac commented on #18
@shidevil it did however add a platform to the config.json file

[2017-08-29 16:07] shidevil commented on #18
@humac okay will check on it. since it's installed in /usr/lib/node_module. mine was in usr/local/lib.

Will look into it. thank you for testing.

[2017-08-29 16:17] shidevil commented on #18
@humac sorry i just checked on my other setup. it is at usr/lib/node_modules. Interesting..

Did you give homebridge service root access?? i just tried on my side to install homebridge-camera-ffmpeg-omx it appears on my homebridge UI

<img width="684" alt="screen shot 2017-08-30 at 12 16 12 am" src="https://user-images.githubusercontent.com/5009021/29831689-81377e6c-8d18-11e7-9ae3-66f419a3b587.png

[2017-08-29 16:20] shidevil commented on #18
@humac i just tested if i were to run homebridge without root access, it will not work. If you did not give homebridge root access. Install/uninstall will not work.

So that being said. You can do a simple test.

Make sure that /root/.homebridge/config.json has the configuration as per /var/homebridge or /home/pi/.homebridge/config.json

do a sudo homebridge and try again.

[2017-08-29 16:26] humac commented on #18
I have homebridge running under pi with the config sitting under /var/lib/homebridge.  pi user has sudo access so should this not be enough?

[2017-08-29 16:32] shidevil commented on #18
pi user has sudo access? Let me check. As I'm running my homebridge via root user and not pi user with sudo access.

[2017-08-29 16:42] humac commented on #18
@shidevil yes pi user has sudo.   So I did your test and it worked, copied the config over to root user and ran sudo homebridge and it worked.  I'd prefer not to run things as root though

[2017-08-29 16:43] shidevil commented on #18
Does ur sudo require password on pi user? I will check on this.

[2017-08-29 16:44] humac commented on #18
nope

[2017-08-29 18:02] humac commented on #18
I switched to running homebridge to root user for now so I can use the UI to manage homebridge when I don't have access to the cli.

[2017-09-05 03:27] shidevil commented on #18
@humac could you help me to check something?

sudo nano /etc/systemd/system/homebridge.service

could you tell me which user did you put there? thank you

[2017-09-05 21:08] mripponbrown commented on #15
Hi all, very same issue here. I've changed npm.js (even though the internet connection is working fine) and verified the stuff about any adblocker or browser plugin. Apparently the log, in debug mode, also in my case says that login was successful!
I have to say that I started to try on a different port (8082) as 8080 was busy with another plugin (Domoticz), but I've tried also on the standard 808

[2017-09-08 15:52] RienduPre commented on #15
Hi,

Same issue here, tried everything written before. Tried Safari, CHrome and the RPI builtin browser Chromium. please help, because this seems like a nice plugin

Thanks,
Rien

[2017-09-11 20:55] RienduPre commented on #15
Anyone solved this ?????

[2017-09-16 10:35] Bankaifan commented on #15
I investigated this a little bit more...

I do not append another log file, since mine looks the same compared to the others postet above...

The first thing if have seen is, that there is a path
`send stat "/lib/node_modules/homebridge-config-ui/public/index.html" +0ms`
But there is no index.html. So the next thing I tried was to enter "localhost:8080/index.html" instead of "localhost:8080" (afte

[2017-09-20 18:12] RienduPre opened #21 "Login does not work on RPi based Homebridge setup"
Hi,

I cannot logon using the webinterface. The logon screen freezes for a while and errors out.

It works on a OSX based Homebridge, but it does noet work on any RPi based Homebridge

The log says:
[9/20/2017, 8:07:33 PM] [Config] Console is listening on port 8080.
[9/20/2017, 8:07:33 PM] Homebridge is running on port 51826.
[9/20/2017, 8:07:57 PM] [Config] Administrator successfully logged in.

[2017-09-26 20:46] Sonsi79 opened #22 "Error Log"
Hi. Since installation i get the following error in home bridge error log, but config-ui still works.
After few hours Homebridge crash with 100% Memory Usage

[2017-09-30 20:44] chriskmn commented on #21
Same here :(

[2017-10-01 22:24] ttww opened #23 "Clarify config.json documentation"
For someone new to this kind of configuration, please change the config.json example to so something like this:

`  "platforms": [`
`    {`
`      "platform": "config",`
`      "name": "Config",`
`      "port": 8080,`
`      "log": "/tmp/daemon.log",`
`      "restart": "sudo systemctl restart homebridge.service"`
`    }`
`  ]`

or something like that...
It would save some time for newbies :-)

[2017-10-02 11:39] RienduPre commented on #21
Replace Line 186 to 189 in npm.js and the problem is solved.

[code]

[2017-10-02 12:50] chriskmn commented on #21
great, this works for me !!! Tahnk you  @RienduPre

Can anybody update that to git ?

[2017-10-02 13:15] shidevil commented on #21
@RienduPre good job on fixing it as there are too many configuration. i will update my pull request.

[2017-10-02 13:26] shidevil commented on #15
guys please try the latest pull request to see if the problem is fix thanks to @RienduPre

[2017-10-02 13:27] shidevil commented on #23
Hi i have updated this. Thank you

[2017-10-02 13:27] shidevil commented on #21
Please test if its working :)

[2017-10-02 16:37] #23 closed

[2017-10-02 16:38] shidevil commented on #22
@Sonsi79 what other plugins did u install?

[2017-10-02 18:06] #22 closed

[2017-10-03 17:51] Bankaifan commented on #21
Testet ... it works!

[2017-10-04 06:38] shidevil commented on #21
@Bankaifan thats great. I will ask @mkellsy to push it.

[2017-10-04 07:45] ttww commented on #23
Hi,
thanks, but I see no changes  in the documentation :-):

![misleading_config](https://user-images.githubusercontent.com/3983391/31164735-ac11c2fa-a8e8-11e7-935a-bb7f4a8855d1.png)

[2017-10-04 08:16] shidevil commented on #23
Hi @ttww please check pull request.

[2017-10-04 08:16] shidevil commented on #23
As i am waiting for @mkellsy to push to the main repo. :)

[2017-10-13 13:50] itsmepetrov commented on #21
@shidevil please, add an ability to specify `base` path in config, because in my case the `base` path is `/opt/lib/node_modules` (I am running it on open-wrt router)

[2017-10-13 13:59] itsmepetrov commented on #21
@shidevil and make it line [config.js#L121](https://github.com/shidevil/homebridge-config-ui/blob/master/routes/config.js#L121) safer, because some config files may not contain `accessories ` field (like mine)

[2017-10-14 05:18] shidevil commented on #21
@itsmepetrov I will look into it. It is definitely possible.  I will also check on Line 121. Yes i do agree that some may not contain accessories field.

[2017-10-26 14:46] Bankaifan opened #24 "Can not change Config or update plugin"
Hi,

i have the problem that changes made to the config or the update-process don't have any effect. Even so the Update does not work.
Simply nothing happens even if the website tells me (and the log) that the update is done.

Any ideas?

[2017-10-26 15:01] Bankaifan opened #25 "Make Config-UI reachable from everywhere"
I did a little enhancement for my Config-UI-Website I want to share for those, who are not that much into IT.

If you go to your routers website and do a port forwarding for the port specified in your config-file (lets say 8080) and configure DynDNS you can access your Config-UI from everywhere.

You can get freee DynDNS at https://www.noip.com.

I will give an example using a FritzBox (AVM) but c

[2017-10-28 04:02] shidevil commented on #24
Hi,

Could you check if you are running with systemd? Is it using a root account?

[2017-10-28 10:09] jenswet commented on #15
Hello,
sorry for the late response. I just applied the patch of your whole pull request. It did not work directly. I could fix it by adding another base path to npm.js: My node_modules is located in "/lib/node_modules". Now its working.
I am using the nodejs preinstalled in Volumio 2.0 OS. It uses the different path specified above.
Thanks for helping me find this and all your other fixes!

[2017-10-28 10:09] #15 closed

[2017-10-28 15:24] dmcgrew opened #26 "Log is empty and config throws javascript errors"
I am running as systemd but get an empty log and also some errors on the config page. The homepage shows up fine though. Here are the errors on the config page...

`TypeError: Cannot read property 'length' of undefined
    at write (/usr/local/lib/node_modules/homebridge-config-ui/routes/config.js:115:43)
    at /usr/local/lib/node_modules/homebridge-config-ui/routes/config.js:13:5
    at Layer.ha

[2017-10-28 16:44] shidevil commented on #26
Are u using my pull request or the original masters?

[2017-10-28 16:44] shidevil commented on #15
@jenswet thanks. I will be updating it to specify the node_modules location.

[2017-10-28 16:48] dmcgrew commented on #26
Using the original master.

[2017-10-28 17:47] shidevil commented on #21
@itsmepetrov updated config.js and also specify base path in config file. Please check.

[2017-10-28 17:48] shidevil commented on #26
@dmcgrew Will take a look.

[2017-10-28 17:49] shidevil commented on #15
@jenswet I have updated the my pull request so that you can specify your base path in config :)

[2017-10-28 18:46] dehsgr commented on #6
I've the same thing here too on one homebridge instance. One works, one not. The one, where saving doesn't work there are no things in log, regardless, which browsers are used.

- System is running on pi3
- node v6.11.4
- npm v3.10.10
- homebridge is running via systemd as root user

[2017-10-28 18:53] dehsgr commented on #6
Ah! I found sth! ;-)

If there is an "!" within name or platform name on config page, save will not work. Browser console is reporting the following:

`Error: Syntax error, unrecognized expression: #Fritz!Box-code  jquery.min.js:2:13370`

[2017-10-28 19:19] shidevil commented on #6
@dehsgr are u using the original master? or the pull request i made?

[2017-10-28 21:18] jenswet commented on #15
Nice addition! This will fix it for all likely and unlikely installation parameters.

I had some errors during saving config before and the auto restart of the service did not work. When I continue my Homekit installation and the errors persist, I'll start a new issue with the details.

[2017-10-29 06:08] dehsgr commented on #6
@shidevil I use pull request on both bridges, because of e.g. the issue with login (#15, yesterday closed).

[2017-10-29 06:42] shidevil commented on #6
@dehsgr thats interesting. So in your config page u put a "!" and save will not work?

also on another homebridge instance, one works while one does not work.

Could i check if the one that does not work, is there any error log? thank you

[2017-10-29 06:42] shidevil commented on #15
@jenswet please open a new issue. Thank you.

[2017-10-29 09:19] dehsgr commented on #6
@shidevil the difference is that one bridge is using plugin https://www.npmjs.com/package/homebridge-fritz (which assumes "!" in its config). The other one doesn't. There is no specific log entry in homebridge itself. only the entry I gave you from browser console.

[2017-10-29 11:30] shidevil commented on #6
@dehsgr so there’s only one instance with problem am I right?

Are both instances the same npm and node version?

Save that normally does not work may be due to systemd. Could you try running manually? sudo homebridge -D

See if save works. Make sure to edit the config.json at ~/.homebridge/

[2017-10-31 10:21] shidevil commented on #26
@dmcgrew could you try to use my pull request to see if its working? thanks

[2017-10-31 10:24] shidevil commented on #25
@Bankaifan It will be dangerous to do that if i were you. Shodan would scan this and since there not security mechanism of fail password protection. It will be vulnerable to bruteforce attack easily. Unless you wish to change the login to use OTP such as authy or some others. Feel free to do a pull request :)

[2017-10-31 10:52] dehsgr commented on #6
@shidevli yes, only one instance is affected. It‘s the one with „!“ in JSON. Doesn‘t have to do with systemd.

[2017-10-31 11:01] shidevil commented on #6
@dehsgr i think i understood your problem. Let me see if i can allow expression of "!" in the code. Will review during the weekend

[2017-10-31 11:08] shidevil commented on #6
@dehsgr could you make a new issue for this. Thanks

[2017-10-31 11:54] dmcgrew commented on #26
I’m a little new to this.. what command should I use to install from a pull request?

[2017-10-31 11:56] shidevil commented on #26
@dmcgrew just download my project. Unzip to ur raspberry pi documents folder. Cd into the project documents and do sudo npm -g install

[2017-10-31 12:37] dmcgrew commented on #26
Ok thanks. I have your project installed now but still having the same issues. Just to verify, I did remove the previous installation before installing your's.

[2017-10-31 13:31] shidevil commented on #26
@dmcgrew what node version and npm version are u using? thank you

[2017-10-31 13:33] dmcgrew commented on #26
Node is 4.0 and npm is 2.14.2

[2017-10-31 13:41] shidevil commented on #26
@dmcgrew 1) could you take a screen shot of the error at the place it happens?
2) post ur config.json

[2017-10-31 16:22] dmcgrew commented on #26
1. Yeah its on the /config page. Sometimes I also get a 500 error.
<img width="1352" alt="screen shot 2017-10-31 at 12 20 07 pm" src="https://user-images.githubusercontent.com/1474983/32235446-e11c8716-be35-11e7-82dd-86171e72abba.png">

2. Here's the config.json..

`{
   "bridge":{
      "name":"Homebridge",
      "username":"CC:22:3D:E3:CE:30",
      "port":51826,
      "pin":"024-48-988"
   },

[2017-11-01 00:30] shidevil commented on #26
Please try this and if you are using my pull request. Please add the base path.

{
   "bridge":{
      "name":"Homebridge",
      "username":"CC:22:3D:E3:CE:30",
      "port":51826,
      "pin":"xxx-xx-xxx"
   },
   "platforms":[
      {
         "platform":"WeatherStation",
         "name":"Weather Station",
         "key":"2543ca3ae5ac26e0",
         "location":"pws:KPAMARS2",
         "forecast

[2017-11-01 00:30] shidevil commented on #26
Refer to my readme

[2017-11-02 01:42] dmcgrew commented on #26
Ok thanks. That worked. I still don't have a log though.. but that's because no log file exists. I'm using systemd to start homebridge on bootup. I used this guide to do it.. there's a line in the first gist to turn debugging on but that outputs to a log that also logs every other service on my pi. Do you know how to make homebridge output logs to its own log file?

[2017-11-02 08:12] Bankaifan commented on #24
Hi,

Homebridge is Running as systemd and is Running under root.

I tried The homebridge-upgrade today...

The log says „homebridge Server upgraded“ but nothing was done. I can rerun The upgrade several times

[2017-11-05 12:23] shidevil commented on #24
Did you set the base path? Which branch are u using? Masters of my pull request

[2017-11-05 12:24] shidevil commented on #24
Or*

[2017-11-05 12:31] shidevil commented on #26
@dmcgrew that you have to head over to homebridge git and file a issue. As I used daemon.log. I do remember it’s possiblf

[2017-11-08 10:32] dehsgr opened #27 "Exclamation mark in config prevents saving"
Assume that you place e.g. the following config (for https://www.npmjs.com/package/homebridge-fritz) in your config.json using the basic ui:

`{
  "platforms": [
    {
      "platform": "Fritz!Box",
      "name": "My FritzBox",
      "username": "<username>",
      "password": "<password>",
      "url": "http://fritz.box",
      "interval": 60,
      "options": {
        "strictSSL": false
      }

[2017-11-08 10:32] dehsgr commented on #6
@shidevil it's done (issue #27).

[2017-11-20 14:37] smulle48 commented on #21
@RienduPre can you point out exactly which lines that need to be replaced? don't know if I got the same npm file, so I just want to make sure I replace the correct lines :-)

[2017-12-01 10:17] drfahod opened #28 "Status screen should not require an internet connection"
Homebridge break with error when no internet

`
TypeError: Cannot read property 'collected' of undefined
    at Request._callback (/usr/local/lib/node_modules/homebridge-config-ui/npm.js:135:41)
    at self.callback (/usr/local/lib/node_modules/homebridge-config-ui/node_modules/request/request.js:188:22)
    at emitOne (events.js:116:13)
    at Request.emit (events.js:211:7)
    at Request.onReque

[2017-12-18 07:16] r32er commented on #18
Hey guys. I installed your plugin and the install of plugin result in the same error as @humac.

My Homebridge run as systemd. I’ve only tried to install a plugin, no uninstall yet.

[2017-12-19 12:31] ghost opened #30 "Server Status Service shows HB and Console not running & Missing Uptime, CPU and Memory"
![screen shot 2017-12-20 at 1 22 43 am](https://user-images.githubusercontent.com/25584103/34156991-7820ec3c-e524-11e7-99ec-7a2dd7994411.png)

Using the fork of shidevil. Everything else works fine.

My config.json as follows.
{
        "bridge": {
                "name": "HomeBridge",
                "username": "8C:B4:10:1B:6E:40",
                "port": 51826,
                "pin": "420-69-42

[2017-12-20 20:42] rgerr opened #31 "Can’t seem to connect to Config"
Hi all,

Installed plug-in as described, but can’t access the plug-in via browser (localhost:8080), gives me a ERR_CONNECTION_REFUSED in Chromium on RPi.

[2017-12-22 11:45] halpls commented on #30
I removed the forward slash at the end of the paths in temp and base, now it functions.

"temp": "/sys/class/thermal/thermal_zone0/temp/",
"base": "/usr/local/lib/node_modules/"

So now they look like

"temp": "/sys/class/thermal/thermal_zone0/temp",
"base": "/usr/local/lib/node_modules"

[2017-12-24 16:38] sebastienvermeille commented on #31
same here

[2018-01-03 12:07] Lorccan opened #32 "RPi + systemd - Can't get logs to display"
I have tried both:

[code]

But still I don't see anything in the web interface.  I have checked for ad blockers etc and I don't have anything running that should affect this.

Tailing both these files shows that they have [identical?] homebridge output, so I hope this is something simple to overcome.

[2018-01-05 12:15] Erokani commented on #32
Hi,
Got the same issue. My user homebridge was missing read rights to those files (as per default 640).
You just have to manage the access rights to those files for your homebridge user (chmod 644 e.g.).

[2018-01-05 12:45] Lorccan commented on #32
Ah! That makes sense.  Permissions do look very restricted.  I'll report back (as I rolled-back the plugin install and will need to repeat it).

Thank you.

[2018-01-05 13:05] Lorccan commented on #32
I'm afraid that didn't work.  I tried setting permissions to 644 on both logs [and restarting homebridge], but although everything else works, neither appears in the web UI log tab.

One difference might be that I am running homebridge under the pi user rather than a specific homebridge user, but I've not seen any other adverse effects of this.

[2018-01-05 13:13] Erokani commented on #32
OK. I had hints on the logs, telling me about permission issues. What tell yours?

[2018-01-05 13:44] Lorccan commented on #32
I don't see any issues anywhere in logs or in the UI. (Not sure I understand what you mean by 'hints')

[2018-01-23 19:31] rcfa opened #33 "status page does not load?"
After installing the module, I get the following behavior:
Login page: OK
Enter user and password, hit return: nothing, page times out.
going directly to the 12.34.45.56:8080/config URL: no problem

Now I can nagivate to the other pages: plugins, users, and logs.

Trying to navigate to the status page: I get a text only page, no style applied, no graphics.

So it seems the login works, but the red

[2018-02-16 23:01] Herbert-Hotz commented on #33
Same issue here!

System: Fedora 26 x86_64

[2018-02-16 23:16] Herbert-Hotz opened #34 "Search plugin causes termination of homebridge server"
When i select URL http://192.168.1.100:8080/plugins, the following error is reported and the server dies:

[code]

**Note:**
My solution to overcome the several issues with this plugin was:
`npm uninstall homebridge-config-ui -g --unsafe-perm`
`npm install homebridge-config-ui-x -g --unsafe-perm`
(_config.json_ remains the same)

[2018-02-19 18:57] cerniuk commented on #33
Well that is annoying.  mkellsy did all this great work and it all goes to waste on some errors. Interface looks good and would be useful if whatever is at the root of the server worked.

[2018-02-19 20:35] cerniuk commented on #34
homebridge-config-ui-x plugin works nicely with one small issue, it downloads the HTML for NPM pages, but overall nice and nicely thought out.

[2018-02-22 10:40] charlesomer opened #35 "Installation on Raspberry Pi (Revision 0002 - Model B Revision 1.0)"
I am currently trying to install homebridge-config-ui on my Raspberry Pi, I was able to install Homebridge Server successfully but wanted to try this instead and so removed Homebridge Server. However, I have been unable to install homebridge-config-ui successfully, the install is stuck at the spinning line after the command `sudo npm i -g homebridge-config-ui` is run?

I am wondering if it's due t

[2018-02-22 10:47] charlesomer commented on #35
It appears the install was just taking a long time to complete (10 minutes +).

[2018-02-25 04:53] TheSwartz commented on #26
I have this same problem.

I tried to add this:

Where do I find what the node_modules base path is?

Thanks!

[2018-04-07 00:28] warrenphd commented on #11
+1...would be great to support this on RPI

[2018-05-12 13:21] RedSquid06 opened #36 "won't start. getting error"
Or enter this code with your HomeKit app on your iOS device to pair with Homebridge:

    ┌────────────┐
    │ 031-45-154 │
    └────────────┘

[5/12/2018, 3:19:27 PM] [Config] Console is listening on port 33756.
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::51826
    at Object.exports._errnoException (util.js:1020:11)
    at exports._exceptionWithHo

[2018-05-24 20:51] raaffq commented on #11
Any update? Web UI for Raspberry?

[2018-06-01 12:35] RobotLimeLtd opened #37 "Fails on startup with syntax error"
When I add the systemctl config to the "platforms" section in my config.json file, I get the error below.  Interestingly, it loads the other previous modules fine, but fails on "Config", and claims the error is with line 2 of the config.json.  If I remove the code, Homebridge starts up fine.

Jun 01 13:31:19 homebridge homebridge[2912]: [2018-6-1 13:31:19] Loading 4 platforms...
Jun 01 13:31:19 ho

[2018-06-18 21:56] Tobix99 commented on #37
Can you post your config please? Maybe it has something to do with other plugins?

[2018-07-13 19:30] mkellsy commented on #18
Homebridge relies on global Node deps. Since the npm install -g needs to run as su, the processes that homebridge is running in might not have access to install. Either loosen your SELinux rules or run homebridge as root.

[2018-07-13 19:31] mkellsy commented on #21
I will commit this, however I need to seperate Fix #6, #15, #18. The temperature code, needs to be reviewed.

[2018-07-13 19:33] mkellsy commented on #37
It looks like your config is corrupt. Paste your config file contents into this site https://jsonlint.com/. It will tell you what is wrong.

[2018-07-13 19:35] mkellsy commented on #36
This is an issue with homebridge or hap-nodejs. Please refer to their projects, we can not do anything here. Sorry.

[2018-07-13 19:35] #36 closed

[2018-07-13 19:47] mkellsy commented on #34
I agree. I never liked how this was setup. I am going to pick this project back up, have had a lot going on lately, sorry. I want to separate the UI from the Homebridge service. A stack so to say. I do like what oznu as done with homebridge-config-ui-x, they added the control which was my next step.

[2018-07-31 17:57] ifunlisted opened #38 "restart not working (Mac launchd)"
I'm using...
"restart" : "launchctl unload ~/Library/LaunchAgents/com.homebridge.server.plist && launchctl load ~/Library/LaunchAgents/com.homebridge.server.plist"
...for restart in config.json, but it doesn't seem to be working. It does work in Terminal.

When I use the Restart button on the web ui, it appears to unload fine, but then never reloads.

I'm running on a Mac, using launchd

[2018-09-09 15:00] fmoreni opened #39 "Scan Code - Camera Iphone"
Hello, Great work.

Does the code scan not seem to work? I'm using the iphone camera to scannear.

Is it necessary any more, module to work?

Thanks for the tip.

[2018-10-03 17:25] intentionstore opened #40 "Help Not working"
After I visit http://localhost:8080/
![screenshot 2018-10-03 at 18 22 01](https://user-images.githubusercontent.com/34816191/46427507-84ceaa80-c739-11e8-8302-f89fdccc747e.png)

My config:

{
  "bridge": {
    "name": "Homebridge Hub",
    "username": "CC:22:3D:E3:CE:30",
    "port": 51826,
    "pin": "031-45-154"
  },

  "platforms": [
    {
    "platform": "config",
    "name": "Config",
    "por

[2018-11-26 22:16] mkellsy commented on #38
That's the main reason why I used supervisord. It allows for a restard, where launchd does not. The issue is the interface runs as a plug-in to homebridge, and it shuts down without any way to come back.

I have started planning a stack version where the UI runs as the master and homebridge is a child process. This would also help with dynamic plugins and configuration.

[2018-12-14 21:21] ahnyerkeester commented on #40
It didn't work for me at first. Then I remembered that when I set up Homebridge to run on boot I had to copy 'config.json' to another folder. So updating '/home/pi/.homebridge/config.json' didn't really affect it. I had to 'sudo cp ~/.homebridge/config.json /var/homebridge/' again to get it to work. Restarted Homebridge and it works! Hope that helps.

[2019-01-09 04:53] seanip commented on #39
Check out my profile picture see if it works for you

[2019-01-21 00:57] #40 closed

[2019-02-15 13:28] #35 closed

[2019-02-20 13:47] GuitarHer01 opened #41 "Change port"
Port 8080 is already in use on my system.
So I want to set another port in stead of 8080.
Simply changing the port nummer in the config.json doesn’t seem to work.
How can I change the port for the startpage?

[2019-07-12 02:30] mkellsy commented on #41
You need to change the port in the platform definition. I verified that this is working.

[2019-07-12 02:30] #41 closed

[2019-07-12 02:33] mkellsy commented on #39
I was able to scan the code. This is an issue with the phones camera and the monitor. The new version of homebridge displays a setup qrcode that works better. I am working on a new homebridge stack that shows this qrcode. I will not be adding it to this interface.

[2019-07-12 02:33] #39 closed

[2019-07-12 02:36] mkellsy commented on #38
I am working on a new project called [Homebridge(X)](https://github.com/mkellsy/homebridge-x) that address this issue. It is a wrapper that makes it easier to control and configure Homebridge.

[2019-07-12 02:36] #38 closed

[2019-07-12 02:36] #37 closed

[2019-07-12 02:38] mkellsy commented on #33
Same as issue #34

[2019-07-12 02:38] #33 closed

[2019-07-12 02:41] mkellsy commented on #32
Homebridge has issues with config files. The log is another one of these config files. A CHMOD 755 should do the trick. I am working on a new project that wraps around Homebridge and manages the state and configs for Homebridge. [Homebridge(X)](https://github.com/mkellsy/homebridge-x). It's not ready yet but the API works.

[2019-07-12 02:41] #32 closed

[2019-07-12 02:41] mkellsy commented on #31
Change the port in the plugin config.

[2019-07-12 02:41] #31 closed

[2019-07-12 02:42] #30 closed

[2019-07-12 02:46] mkellsy commented on #26
Your global node_modules folder location depends on your OS. On a Mac it is in /usr/local/lib/node_modules. You will need to Google your OS.

[2019-07-12 02:46] #26 closed

[2019-07-12 02:49] mkellsy commented on #24
This is an issue is caused because Homebridge prefers global, and so do the plugins. I am working on a new project [Homebridge(X)](https://github.com/mkellsy/homebridge-x) that creates a wrapper around Homebridge that manages the state, configs and plugins. This addresses this issue. The project isn't ready yet but the API works.

[2019-07-12 02:49] #24 closed

[2019-07-12 02:51] mkellsy commented on #21
In the platform section for config, modify this value. "base": "/usr/local/lib/node_modules". Set the base to where your global node_modules are. You may have to Google your operating system.

[2019-07-12 02:51] #21 closed

[2019-07-12 02:51] mkellsy commented on #13
This was a CORS issue with the NPM API. Fixed now.

[2019-07-12 02:51] #13 closed

[2019-07-12 02:52] mkellsy commented on #18
This work is continued in this project [Homebridge(X)](https://github.com/mkellsy/homebridge-x).

[2019-07-12 02:52] #18 closed

[2019-07-12 02:53] #8 closed

[2019-07-12 02:53] #7 closed

[2019-07-17 14:54] mkellsy commented on #28
The status screen checks the Homebridge NPM package for updates.

[2019-11-17 23:26] mkellsy commented on #34
Fixed in HOOBS 3

[2019-11-17 23:26] #34 closed

[2019-11-17 23:26] #28 closed

[2019-11-17 23:26] #27 closed